build/bin
node_modules
frontend/dist

# Temporary files
frontend/wailsjs/*
frontend/package.json.md5
.gocache/
backend/.venv/
backend/app/generated/
.DS_Store
**/__pycache__

# VRM models
frontend/public/vrm/*
*.vrm

# Model files
models/*

# Credential
.env
env
env.*
